/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --black: #000000;
    --white: #ffffff;
    --base-light: oklch(97.7% 0.02 264.705);
    --base-dark: oklch(39.8% 0.07 227.392);
    --action: oklch(59.8% 0.23 264.705);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

/* Compoent Styles */

.button {
    background-color: var(--white);
    color: var(--black);
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;}

.button:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: oklch(39.8% 0.07 227.392);
    color: white;
}

/* Header styles */

header .mobile-header {
padding: 16px;
display: flex;
justify-content: space-between;
align-items: center;
}

header button {
    all: unset;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Hide mobile nav by default on desktop */

    header nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
}

header .mobile-header .hamburger-menu {
    display: none;
}
}

/*mobile nav styles */
.mobile-nav a {
    text-decoration: none;
    color: black;
    display: block;
    display: flex;
    padding: 4px 16px;
}

/*desktop nav styles */
.desktop-nav {
    display: none;
}

li {
    list-style: none;
}

/* utility class */
.display-none {
    display: none;
}

@media (min-width: 768px) {
    .desktop-nav a {
        text-decoration: none;
        font-size: larger;
        color: black;
    }
    .desktop-nav {
        display: inline-block;
    }
}
/* hero section styles */
.hero {
    background-color: oklch(39.8% 0.07 227.392);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

main {
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: center;
}

.about-me {
    background-color: oklch(39.8% 0.07 227.392);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.projects {
    margin-bottom: 20px;
}

.contact {
    padding: 48px 16px;
    border-radius: 10px;
    margin: 5px 10px;
}

.contact input,
.contact select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.contact textarea {
    display: block;
    width: 100%;
    padding: 8px;
}

.contact label {
    display: block;
    width: 100%;
    padding: 8px;
}

.contact h2 {
    color: var(--base-dark);
    margin-bottom: 16px;
}

.contact input[type="submit"] {
    background-color: var(--action);
    border: 0;
    margin-top: 8px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .contact h2 {
        text-align: center;
        font-size: 2.5rem;
    }
}

.contact form {
    max-width: 60%;
    margin: 40px auto;
}

h1,
h2 {
    margin-top: 0;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    width: 100%;
    bottom: 0;
}